.head {
  display: flex;
  justify-content: center;
  width: 400px;
  font-size: small;
  color: #000000;
  font-weight: bolder;
  background-color: #ededed;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
